:root {
    --background-fill: #f2f2f2;
    --background-accent: #ffffff;
    --accent-fill: #010307;
    --highlight-purple: #ff00ff;
    --header-black: #010307;
    --border-grey: #5e584f;
    --outline-grey: #161a1f;
    --text-color: black;
    --text-invert: white;
}

body {
    background-color: var(--background-fill);
    color: var(--text-color);
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.main_content {
    flex: 5;
    border-top: 0px;
    border-bottom: 0px;
}

a:visited {
    color: inherit;
}

/* Style the buttons */
.nav_button {
    width: calc(100% - 20px);
    display: inline-block;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

a.nav_button:hover {
    background-color: var(--accent-fill);
    color: var(--text-invert);
    border-radius: 10px;
}

/* Override color for current page*/
a.nav_button_current {
    color: var(--text-invert);
    width: calc(100% - 25px);
    font-weight: bold;
    background-color: var(--accent-fill);
    padding-left: 15px;
    border-left: 5px solid var(--highlight-purple);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav_button_current:hover {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Evenly space the buttons */
.navbar {
    background-color: var(--header-black);
    color: var(--text-invert);
}

/* Style the image */
.cover_image {
    height: 500px;
    object-fit: cover;
    margin: 20px;
    margin-top: 0px;
    padding: 0px;
    border: 2px solid var(--border-grey);
    border-radius: 10px;
}

/* Style my name */
.name {
    font-size: 36px;
    font-weight: bold;
}

/* Style bio */
.about_me {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid var(--border-grey);
    border-radius: 10px;
    background-color: var(--background-accent);
}

/* Style subheadings */
h2 {
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    background-color: var(--accent-fill);
    color: var(--text-invert);
    border: 2px solid var(--border-grey);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin: auto;
}

.content_block {
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    border: 2px solid var(--border-grey);
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-accent);
}

/* Style the main content */
p {
    margin: auto;
}

p.indent {
    text-indent: 0px;
    margin-bottom: 25px;
}

/* Style main headings*/
h1 {
    text-align: center;
}

/* Style each content section*/
.content_section {
    padding-bottom: 20px;
}

/* Style the bullet points */
ul.a {
    margin: auto;
    list-style-type: none;
    list-style-position: inside;
    padding-bottom: 20px;
}

ul.b {
    list-style-type: none;
    list-style-position: inside;
    padding-bottom: 20px;
    padding-left: 5px;
}

li.a {
    border-left: 1px solid var(--text-color);
    padding-left: 20px;
    font-size: 18px;
}

li.b{
    list-style-type: circle;
}

/* Style download link */
.unstyled_link {
    display: block;
    position: relative;
    /* top: -100px; */
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--text-invert);
    font-size: 16px;
    font-weight: bold;
    grid-column: 2;
    grid-row: 3;
}

.external_link {
    color: var(--text-color);
    text-decoration: underline;
    font-weight: bold;
}

/* Style flex container */
.flex_container {
    display: flex;
    margin: auto;
    width: 100%;
}

.grid_fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-auto-flow: dense;
    direction: ltr;
}

.grid_item {
    margin-top: 20px;
}

.tall_grid {
    grid-row: 1 / 2;
}

.extra_tall_grid {
    grid-row: 1 / 3;
}

.main_container {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: max-content;
    width: 90%;
    background-color: var(--background-fill);
}

.flex_item_a {
    flex: 2;
    margin-top: 20px;
}

.flex_item_b {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfo_img {
    width: 300px;
}

.service_logo {
    width: 300px;
    filter: invert(1);
}

/* Style the footer */
footer {
    display: flex;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: var(--accent-fill);
    color: var(--text-invert);
    text-align: center;
}

.footer_item {
    width: 80%;
    padding-bottom: 10px;
    margin: auto;
}

.footer_img {
    height: 1em;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .flex_container {
        flex-direction: column;
    }
}

/* AI-generated CSS */
.page_title {
    text-align: center;
}
  
.page_description {
    text-align: center;
    font-weight: bold;
}
  
.poetry {
    color: lightblue;
}

.jokes {
    color: lightblue;
}

.pickup_lines {
    color: lightblue;
}

.poem_column,
.joke_column,
.pickup_line_column {
    margin-left: 5%;
    margin-bottom: 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
