:root {
    --blue-light: #66fcf1;
    --blue-medium: #45a29e;
    --grey-light: #c5c6c7;
    --grey-medium: #1f2833;
    --grey-dark: #0b0c10;
}

body {
    background-color: black;
    color: var(--grey-light);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}

a:visited {
    color: inherit;
}

/* Style the buttons */
.nav_button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: var(--grey-light);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Override color for current page*/
.nav_button_current {
    color: var(--blue-light) !important;
}

/* Evenly space the buttons */
.nav_bar {
    display: flex;
    justify-content: center;
}

/* Style the image */
.cover_image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Style my name */
.name {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    color: var(--blue-light);
    margin-bottom: 20px;
}

/* Style bio */
.about_me {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--grey-light);
    margin: auto;
    margin-bottom: 2em;
    width: 80%;
}

/* Style subheadings */
h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--blue-medium);
    margin: auto;
    width: 90%;
}

h2.main_heading {
    margin-left: 120px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--grey-light);
    margin: auto;
    width: 90%;

}

/* Style the main content */
p {
    margin: auto;
    width: 90%;
}

p.indent {
    text-indent: 0px;
    margin-bottom: 25px;
}

/* Style main headings*/
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: var(--blue-light);
}

/* Style each content section*/
.content_section {
    padding-bottom: 20px;
}

/* Style the bullet points */
ul.a {
    margin: auto;
    width: 90%;
    list-style-type: none;
    list-style-position: inside;
    padding-bottom: 20px;
}

ul.b {
    list-style-type: none;
    list-style-position: inside;
    padding-bottom: 20px;
    padding-left: 5px;
    font-weight: normal;
}

li.a {
    border-left: 1px solid var(--grey-light);
    padding-left: 20px;
    font-size: 18px;
    color: var(--grey-light);
}

li.b{
    list-style-type: circle;
    font-weight: bold;
}

/* Style download link */
.unstyled_link {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
    text-decoration: none;
    color: var(--grey-light);
    font-size: 16px;
    margin-bottom: 36px;
}

.external_link {
    color: var(--grey-light);
    text-decoration: underline;
    font-weight: bold;
}

/* Style flex container */
.flex_container {
    display: flex;
    margin: auto;
    width: 97%;
}

.flex_item_a {
    flex: 2;
}

.flex_item_b {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfo_img {
    width: 300px;
}

.service_logo {
    width: 300px;
}

/* Style the footer */
footer {
    display: flex;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--grey-medium);
    color: var(--grey-light);
    text-align: center;
}

.footer_item {
    flex: 1;
}

.footer_img {
    height: 1em;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .flex_container {
        flex-direction: column;
    }
}

/* uI-generated CSS */
.page_title {
    text-align: center;
}
  
.page_description {
    text-align: center;
    font-weight: bold;
}
  
.poetry {
    color: lightblue;
}

.jokes {
    color: lightblue;
}

.pickup_lines {
    color: lightblue;
}

.poem_column,
.joke_column,
.pickup_line_column {
    margin-left: 5%;
    margin-bottom: 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
